@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #FAFAFA;
  --color-foreground: #291C16;
  --color-accent: #D97706;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-serif);
}

::selection {
  background-color: var(--color-accent);
  color: white;
}